<div id='signin'>
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='checkValid(signinForm.$valid, signin)'>
    <input name='username' type='text'ng-model='user.username' ng-minlength="5" ng-maxlength="15" required placeholder="Username">
    <input name='password' type="password" ng-model='user.password' ng-minlength="8" ng-maxlength="15" required placeholder="Password">
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
  <div>
  {{user.errorMsg}}
  </div>
</div>

